@import 'mixins';
@import 'variables';

body {
    margin: 0 auto;
    background-color: $main-background;
    @include font-lato;
    overflow-x: hidden;

    p {
        font-weight: 300;
    }

    h2 {
        margin-bottom: 0;
    }

    button {
        border-radius: 5px;
        border: none;
        background-color: $button-color;
        color: white;
        padding: 10px;
    }
}

header {
    @include display-flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: $main-background;
    font-size: 0.9em;

    .header {
        width: 1080px;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h2 {
        margin: auto 0;
    }
}

main {
    @include display-flex;
    flex-direction: column;
    margin: 0 auto;

    .box1 {
        @include display-flex;
        color: white;
        font-size: 1.5em;
        width: 100vw;
        height: 100vh;
        background-image: url(/nuotraukos/bg-masthead.jpg);
        background-size: cover;

        .subscribe {
            width: 900px;
            text-align: center;
            font-weight: bolder;
            margin: 0 20px;
        }

        input {
            width: 400px;
            padding: 10px;
            border-radius: 5px;
            border: none;
        }

        .big-button {
            padding: 10px 30px;
        }
    }

    .box2 {
        @include display-flex;
        max-width: 1080px;
        background-color: $main-background;

        img {
            width: 75px;
            height: 75px;
        }

        .three-boxes {
            text-align: center;
            padding: 100px 50px;
        }
    }

    .box3 {
        @include display-flex;
        flex-direction: column;

        .box3-box {
            width: 50vw;
            height: 500px;
            background-color: white;
        }

        .box3-picture-st {
            background-image: url("/nuotraukos/bg-showcase-1.jpg");
            background-position: center;
            background-size: cover;
        }

        .box3-picture-nd {

            background-image: url("/nuotraukos/bg-showcase-2.jpg");
            background-position: center;
            background-size: cover;
        }

        .box3-picture-rd {
            background-image: url("/nuotraukos/bg-showcase-3.jpg");
            background-position: center;
            background-size: cover;
        }

        .box3-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            padding: 20px 120px;
            font-size: 1.2em;

            p {
                margin-top: 10px;
            }
        }

        > div {
            display: flex;
            flex-direction: row;
        } 

        > div:nth-child(even) {
            flex-direction: row-reverse;
        }
    }

    .box4 {
        @include display-flex;
        flex-direction: column;
        max-width: 1080px;
        padding: 20px;

        > h2 {
            padding: 20px;
            font-size: 2em;
        }

        img {
            width: 200px;
            border-radius: 50%;
            box-shadow: 1px 3px 5px grey;
        }

        .box4-container {
            display: flex;
            justify-content: space-between;
            align-items: center;


            .three-boxes {
                @include display-flex;
                flex-direction: column;
                text-align: center;
                padding: 50px;
                width: 250px;
            }
        }
    }

    .box5 {
        @include display-flex;
        color: white;
        font-size: 1.4em;
        width: 100vw;
        height: 300px;
        background-image: url(/nuotraukos/bg-masthead.jpg);
        background-position: center;
        background-size: cover;

        .subscribe {
            width: 900px;
            text-align: center;
            font-weight: bolder;

            h2 {
                margin-bottom: 30px;
                margin-top: 0;
            }

            form {

                input {
                    width: 400px;
                    padding: 10px;
                    border-radius: 5px;
                    border: none;
                }

                .big-button {
                    padding: 10px 30px;
                }
            }
        }
    }
}

footer {
    @include display-flex;
    width: 100%;
    height: 200px;
    background-color: $main-background;
    font-size: 0.9em;

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1080px;
        margin: 0 20px;

        .footer-left {
            display: flex;
            justify-content: center;
            flex-direction: column;

            menu {

                padding: 0;
                margin: 0;

                ul {
                    display: flex;
                    list-style-type: none;
                    padding: 0;

                    li {
                        padding-right: 20px;

                        a {
                            text-decoration: none;
                            color: $button-color;
                            font-size: 1.2em;
                        }
                    }
                }
            }

            p {
                margin: 0;
                font-size: 0.9em;
            }
        }

        .footer-right {
            @include display-flex;

            a {

                img {

                height: 40px;
                margin-left: 40px;
                }
            }
        }
    }
}

@media (min-width: 1000px) and (max-width: 1400px) {
    main .box3 .box3-box {
        height: 350px;
    }
}

@media (min-width: 651px) and (max-width: 999px) {
    main {
        .box3 {
            .box3-box {
            height: 300px;
            }

            .box3-text {
            font-size: 1em;
            padding: 20px 40px;
            }
        }

        .box4 {

            .box4-container { 
                align-items: flex-start;

                img {
                    width: 130px;
                }

                h2 {
                    font-size: 1.3em;
                }

                .three-boxes {
                    width: 130px;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    main {
        max-width: 280px;

        .box1 {

            .subscribe {
                max-width: 280px;

                .text-box1 {
                    margin: 0 auto;
                    max-width: 260px;
                }

                h1 {
                    margin-top: 0;
                    font-size: 1.2em;
                }
            }

            form {
                input {
                    margin-top: 10px;
                    width: 260px;
                    height: 20px;
                    font-size: 0.7em;
                }
            }

            .big-button {
                width: 280px;
                height: 40px;
                margin-top: 10px;
            }
        }

        .box2 {
            flex-direction: column;
            max-width: 280px;
            padding: 50px 0;

            .three-boxes {
                padding: 30px 20px;
                font-size: 1.2em;
            }
        }

        .box3 {

            > div:nth-child(even) {
                flex-direction: column-reverse;
            }

            .box3-box {
                width: 100vw;
                height: 50vh;
                background-color: white;
            }

            .box3-text {
                margin: 0;
                padding: 40px;
                font-size: 1.1em;

                p {
                    font-size: 0.9em;
                }
            }

            .box3-all {
                flex-direction: column-reverse;
            }
        }

        .box4 {
            text-align: center;

            .box4-container {
                flex-direction: column;
            }
        }

        .box5 {
            height: 450px;

            .subscribe {
                max-width: 280px;

                .text-box5 {
                    max-width: 260px;
                    margin: 0 auto;

                    h1 {
                        font-size: 1.2em;
                    }
                }

                form {
                    input {
                        margin-top: 10px;
                        height: 20px;
                        width: 260px;
                        font-size: 0.7em;
                    }

                    .big-button {
                        width: 280px;
                        height: 40px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    footer {
        height: 250px;
    
        .footer {
            flex-direction: column;
            align-items: center;
            max-width: 300px;
    
            .footer-left {
                align-items: center;

                menu {
                    max-width: 300px;

                    ul {
                        flex-wrap: wrap;
                        justify-content: space-around;
                        
                        li {
                            padding: 10px 0;
                        }

                    }
                }
    
                p {
                    margin: 0;
                    font-size: 0.9em;
                }
            }
    
            .footer-right {
                width: 280px;
                justify-content: space-around;
    
                a {
                    margin: 30px 0;
    
                    img {   
                        height: 40px;
                        margin-left: 0;
                    }
                }   
            }
        }
    }
}
